/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafb;
    color: #606060;
    position: relative;
  }

  input {
    outline: none;
  }

  th {
    font-weight: 500;
    color: #032E42;
  }

/* Imported */  
  td,
  th {
    border: 1px solid #dee2e6;
  }

  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .selectBox {
    appearance: none;
    border: none;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0 30px 0 15px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    z-index: 1;
  }
    
    
    .arrowIcon {
      height: 100%;
      position: absolute;
      right: 15px;
    }


  .selectContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 50px;
  }
}
